# AppArmor profile for confining Calibre Content server.
# {{ ansible_managed }}

#include <tunables/global>

@{CALIBRE_HOME} = {{ calibre_server_home_dir }}
@{CALIBRE_LIBRARY} = ''
{% for library in calibre_libraries %}
@{CALIBRE_LIBRARY} += "{{ library.library_dir }}"
{% endfor %}

/usr/bin/calibre-server {
    #include <abstractions/base>
    #include <abstractions/nameservice>
    #include <abstractions/python>
    
    @{PROC}/@{pid}/auxv r,
    @{PROC}/@{pid}/mounts r,
    @{PROC}/@{pid}/status r,
    @{PROC}/@{pid}/task/@{pid}/comm rw,
    
    /sbin/ldconfig rix,

    /etc/mime.types r,
    
    /tmp/* rw,
    /tmp/calibre_*/ rw,
    /tmp/calibre_*/** rw,
    
    /usr/bin/calibre-server r,
    /usr/bin/python2.7 ix,
    /usr/lib/calibre/calibre/**.pyc rw,
    /usr/lib/calibre/calibre/plugins/icu.so mr,
    /usr/lib/calibre/calibre/plugins/imageops.so mr,
    /usr/lib/calibre/calibre/plugins/speedup.so mr,
    
    /usr/share/calibre/** r,
    
    @{CALIBRE_HOME}/.config/calibre/** rwk,
    @{CALIBRE_LIBRARY}/** r,
    @{CALIBRE_LIBRARY}/calibre_test_case_sensitivity.txt w,
    @{CALIBRE_LIBRARY}/metadata.db wk,
    @{CALIBRE_LIBRARY}/metadata.db-journal w,
}
