[Unit]
Description=%I Calibre Content server
Documentation=https://manual.calibre-ebook.com/server.html#id12
Documentation=https://github.com/shiftctrlspace/ansible-role-calibre/tree/master/README.md

[Service]
User={{ calibre_server_username }}
Group=nogroup
UMask=0077
ExecStart=/usr/bin/calibre-server{% if item.listen_port is defined %} --port={{ item.listen_port | int }}{% endif %}{% if item.restriction is defined %} --restriction="{{ item.restriction }}"{% endif %} "{{ item.library_dir }}"{{''}}
Restart=on-failure
# Extra security precautions
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
LockPersonality=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictRealtime=true
AppArmorProfile=/usr/bin/calibre-server

[Install]
WantedBy=multi-user.target
